/*
* Nobo UI
* Author: Almasbek uulu Kairat, kairat.mail2012@gmail.com
* License: MIT
*/

html {
  box-sizing: border-box
}

*, *:before, *:after {
  box-sizing: inherit
}

/*
* Extract from normalize.css by Nicolas Gallagher and Jonathan Neal | MIT License | github.com/necolas/normalize.css
*/
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%
}

body {
  margin: 0
}

article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary {
  display: block
}

audio, canvas, progress, video {
  display: inline-block
}

progress {
  vertical-align: baseline
}

audio:not([controls]) {
  display: none;
  height: 0
}

[hidden], template {
  display: none
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects
}

a:active, a:hover {
  outline-width: 0
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted
}

dfn {
  font-style: italic
}

mark {
  background: #ff0;
  color: #000
}

small {
  font-size: 80%
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline
}

sub {
  bottom: -0.25em
}

sup {
  top: -0.5em
}

figure {
  margin: 1em 40px
}

img {
  border-style: none
}

svg:not(:root) {
  overflow: hidden
}

code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible
}

button, input, select, textarea {
  font: inherit;
  margin: 0
}

optgroup {
  font-weight: bold
}

button, input {
  overflow: visible
}

button, select {
  text-transform: none
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: .35em .625em .75em
}

legend {
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal
}

textarea {
  overflow: auto
}

[type=checkbox], [type=radio] {
  padding: 0
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none
}

::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit
}

/* End extract */

html, body {
  font-family: Verdana, sans-serif;
  font-size: 15px;
  line-height: 1.5
}

html {
  overflow-x: hidden
}

h1 {
  font-size: 36px
}

h2 {
  font-size: 30px
}

h3 {
  font-size: 24px
}

h4 {
  font-size: 20px
}

h5 {
  font-size: 18px
}

h6 {
  font-size: 16px
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Segoe UI", Arial, sans-serif;
  font-weight: 400;
  margin: 10px 0
}

hr {
  border: 0;
  border-top: 1px solid #eee;
  margin: 20px 0
}

.nobo-serif {
  font-family: serif
}

.nobo-wide {
  letter-spacing: 4px
}

img {
  vertical-align: middle
}

a {
  color: inherit
}

.nobo-image {
  max-width: 100%;
  height: auto
}

.nobo-table, .nobo-table-all {
  border-collapse: collapse;
  display: table;
  border-spacing: 0;
  width: 100%;
}

.nobo-table-all {
  border: 1px solid #ccc;
}

.nobo-bordered tr, .nobo-table-all tr {
  border-bottom: 1px solid #ddd;
}

.nobo-stripped tbody tr:nth-child(even) {
  background-color: #f1f1f1;
}

.nobo-table-all tr:nth-child(odd) {
  background-color: #fff;
}

.nobo-table-all tr:nth-child(even) {
  background-color: #f1f1f1;
}

.nobo-hoverable tbody tr:hover, .nobo-ul.nobo-hoverable li:hover {
  background-color: #ccc;
}

.nobo-centered tr th, .nobo-centered tr td {
  text-align: center;
}

.nobo-table td, .nobo-table th, .nobo-table-all td, .nobo-table-all th {
  padding: 8px 8px;
  display: table-cell;
  text-align: left;
  vertical-align: top;
}

.nobo-table th:first-child, .nobo-table td:first-child, .nobo-table-all th:first-child, .nobo-table-all td:first-child {
  padding-left: 16px;
}

.nobo-btn, .nobo-button {
  border: none;
  display: inline-block;
  padding: 8px 16px;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  background-color: inherit;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
}

.nobo-btn:hover, .nobo-button:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.nobo-btn, .nobo-button {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none
}

.nobo-disabled, .nobo-btn:disabled, .nobo-button:disabled {
  cursor: not-allowed;
  opacity: 0.3
}

.nobo-disabled *, :disabled * {
  pointer-events: none
}

.nobo-btn.nobo-disabled:hover,
.nobo-btn:disabled:hover,
.nobo-button.nobo-disabled:hover,
.nobo-button:disabled:hover {
  box-shadow: none
}

.nobo-badge, .nobo-tag {
  background-color: #000;
  color: #fff;
  display: inline-block;
  padding-left: 8px;
  padding-right: 8px;
  text-align: center;
}

.nobo-badge {
  border-radius: 50%;
}

.nobo-ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.nobo-ul li {
  padding: 8px 16px;
  border-bottom: 1px solid #ddd;
}

.nobo-ul li:last-child {
  border-bottom: none;
}

.nobo-tooltip, .nobo-display-container {
  position: relative
}

.nobo-tooltip .nobo-text {
  display: none
}

.nobo-tooltip:hover .nobo-text {
  display: inline-block
}

.nobo-ripple {
  transition: opacity 0s
}

.nobo-ripple:active {
  opacity: 0.5
}

.nobo-input {
  padding: 8px;
  display: block;
  border: none;
  border-bottom: 1px solid #ccc;
  width: 100%
}

.nobo-select {
  padding: 9px 0;
  width: 100%;
  border: none;
  border-bottom: 1px solid #ccc
}

.nobo-dropdown-click, .nobo-dropdown-hover {
  position: relative;
  display: inline-block;
  cursor: pointer
}

.nobo-dropdown-hover:hover .nobo-dropdown-content {
  display: block
}

.nobo-dropdown-hover:first-child, .nobo-dropdown-click:hover {
  background-color: #ccc;
  color: #000
}

.nobo-dropdown-hover:hover > .nobo-button:first-child, .nobo-dropdown-click:hover > .nobo-button:first-child {
  background-color: #ccc;
  color: #000
}

.nobo-dropdown-content {
  cursor: auto;
  color: #000;
  background-color: #fff;
  display: none;
  position: absolute;
  min-width: 160px;
  margin: 0;
  padding: 0;
  z-index: 1
}

.nobo-check, .nobo-radio {
  width: 24px;
  height: 24px;
  position: relative;
  top: 6px
}

.nobo-sidebar {
  height: 100%;
  width: 200px;
  background-color: #fff;
  position: fixed !important;
  z-index: 1;
  overflow: auto
}

.nobo-bar-block .nobo-dropdown-hover, .nobo-bar-block .nobo-dropdown-click {
  width: 100%
}

.nobo-bar-block .nobo-dropdown-hover .nobo-dropdown-content, .nobo-bar-block .nobo-dropdown-click .nobo-dropdown-content {
  min-width: 100%
}

.nobo-bar-block .nobo-dropdown-hover .nobo-button, .nobo-bar-block .nobo-dropdown-click .nobo-button {
  width: 100%;
  text-align: left;
  padding: 8px 16px
}

.nobo-main, #main {
  transition: margin-left .4s
}

.nobo-modal {
  z-index: 3;
  display: none;
  padding-top: 100px;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4)
}

.nobo-modal-content {
  margin: auto;
  background-color: #fff;
  position: relative;
  padding: 0;
  outline: 0;
  width: 600px
}

.nobo-bar {
  width: 100%;
  overflow: hidden
}

.nobo-center .nobo-bar {
  display: inline-block;
  width: auto
}

.nobo-bar .nobo-bar-item {
  padding: 8px 16px;
  float: left;
  width: auto;
  border: none;
  display: block;
  outline: 0
}

.nobo-bar .nobo-dropdown-hover, .nobo-bar .nobo-dropdown-click {
  position: static;
  float: left
}

.nobo-bar .nobo-button {
  white-space: normal
}

.nobo-bar-block .nobo-bar-item {
  width: 100%;
  display: block;
  padding: 8px 16px;
  text-align: left;
  border: none;
  white-space: normal;
  float: none;
  outline: 0
}

.nobo-bar-block.nobo-center .nobo-bar-item {
  text-align: center
}

.nobo-block {
  display: block;
  width: 100%
}

.nobo-responsive {
  display: block;
  overflow-x: auto
}

.nobo-container {
  padding: 20px 40px;
}

.nobo-no-border {
  border: 0 !important
}

.nobo-border {
  border: 1px solid #ccc !important;
}

.nobo-container:after, .nobo-container:before,
.nobo-panel:after, .nobo-panel:before,
.nobo-row:after, .nobo-row:before, .nobo-row-padding:after, .nobo-row-padding:before,
.nobo-cell-row:before, .nobo-cell-row:after,
.nobo-clear:after, .nobo-clear:before,
.nobo-bar:before, .nobo-bar:after {
  content: "";
  display: table;
  clear: both
}

.nobo-col, .nobo-half, .nobo-third, .nobo-twothird, .nobo-threequarter, .nobo-quarter {
  float: left;
  width: 100%
}

.nobo-col.s1 {
  width: 8.33333%
}

.nobo-col.s2 {
  width: 16.66666%
}

.nobo-col.s3 {
  width: 24.99999%
}

.nobo-col.s4 {
  width: 33.33333%
}

.nobo-col.s5 {
  width: 41.66666%
}

.nobo-col.s6 {
  width: 49.99999%
}

.nobo-col.s7 {
  width: 58.33333%
}

.nobo-col.s8 {
  width: 66.66666%
}

.nobo-col.s9 {
  width: 74.99999%
}

.nobo-col.s10 {
  width: 83.33333%
}

.nobo-col.s11 {
  width: 91.66666%
}

.nobo-col.s12 {
  width: 99.99999%
}

@media (min-width: 601px) {
  .nobo-col.m1 {
    width: 8.33333%
  }

  .nobo-col.m2 {
    width: 16.66666%
  }

  .nobo-col.m3, .nobo-quarter {
    width: 24.99999%
  }

  .nobo-col.m4, .nobo-third {
    width: 33.33333%
  }

  .nobo-col.m5 {
    width: 41.66666%
  }

  .nobo-col.m6, .nobo-half {
    width: 49.99999%
  }

  .nobo-col.m7 {
    width: 58.33333%
  }

  .nobo-col.m8, .nobo-twothird {
    width: 66.66666%
  }

  .nobo-col.m9, .nobo-threequarter {
    width: 74.99999%
  }

  .nobo-col.m10 {
    width: 83.33333%
  }

  .nobo-col.m11 {
    width: 91.66666%
  }

  .nobo-col.m12 {
    width: 99.99999%
  }
}

@media (min-width: 993px) {
  .nobo-col.l1 {
    width: 8.33333%
  }

  .nobo-col.l2 {
    width: 16.66666%
  }

  .nobo-col.l3 {
    width: 24.99999%
  }

  .nobo-col.l4 {
    width: 33.33333%
  }

  .nobo-col.l5 {
    width: 41.66666%
  }

  .nobo-col.l6 {
    width: 49.99999%
  }

  .nobo-col.l7 {
    width: 58.33333%
  }

  .nobo-col.l8 {
    width: 66.66666%
  }

  .nobo-col.l9 {
    width: 74.99999%
  }

  .nobo-col.l10 {
    width: 83.33333%
  }

  .nobo-col.l11 {
    width: 91.66666%
  }

  .nobo-col.l12 {
    width: 99.99999%
  }
}

.nobo-content {
  max-width: 980px;
  margin: auto
}

.nobo-rest {
  overflow: hidden
}

.nobo-cell-row {
  display: table;
  width: 100%
}

.nobo-cell {
  display: table-cell
}

.nobo-cell-top {
  vertical-align: top
}

.nobo-cell-middle {
  vertical-align: middle
}

.nobo-cell-bottom {
  vertical-align: bottom
}

.nobo-hide {
  display: none !important
}

.nobo-show-block, .nobo-show {
  display: block !important
}

.nobo-show-inline-block {
  display: inline-block !important
}

@media (max-width: 600px) {
  .nobo-modal-content {
    margin: 0 10px;
    width: auto !important
  }

  .nobo-modal {
    padding-top: 30px
  }

  .nobo-dropdown-hover.nobo-mobile .nobo-dropdown-content, .nobo-dropdown-click.nobo-mobile .nobo-dropdown-content {
    position: relative
  }

  .nobo-hide-small {
    display: none !important
  }

  .nobo-mobile {
    display: block;
    width: 100% !important
  }

  .nobo-bar-item.nobo-mobile, .nobo-dropdown-hover.nobo-mobile, .nobo-dropdown-click.nobo-mobile {
    text-align: center
  }

  .nobo-dropdown-hover.nobo-mobile, .nobo-dropdown-hover.nobo-mobile .nobo-btn, .nobo-dropdown-hover.nobo-mobile .nobo-button, .nobo-dropdown-click.nobo-mobile, .nobo-dropdown-click.nobo-mobile .nobo-btn, .nobo-dropdown-click.nobo-mobile .nobo-button {
    width: 100%
  }
}

